<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body class="purple darken-3 white-text">
    {% include 'nav.html' %}

    <main>
      <div class="container">
        <div class="section">
          {% block index %}{% endblock %}

          <div class="row">
            <div class="col s12">
              {% if not title == "Home" %}
                {% include 'breadcrumbs.html' %}
              {% endif %}

              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include 'footer.html' %}

    {% include 'alert.html' %}
  </body>
</html>
