  <footer class="page-footer purple darken-2">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5>Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="col l3 right-align hide-on-med-and-down">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a href="{{ url_for('about') }}" title="About">About</a></li>
            <li><a href="{{ url_for('contact') }}" title="Contact">Contact</a></li>
            <li><a href="{{ url_for('feedback') }}" title="Feedback">Feedback</a></li>
            <li><a href="https://github.com/iamlolz/py-urlopener" title="Github" target="_blank">Github</a></li>
            <li><a href="{{ url_for('privacy') }}" title="Privacy">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a href="https://github.com/iamlolz" title="Alex Watson" class="brown-text text-lighten-3">Alex Watson</a>
      </div>
    </div>
  </footer>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="/static/js/global.js?v=1.0"></script>
