  {% if title %}
    <title>{{ title }} | URL Tab Opener</title>
  {% else %}
    <title>Welcome to URL Tab Opener</title>
  {% endif %}

  <meta charset="utf-8">
  <link rel="canonical" href="https://url-opener.xyz{{ request.path }}" />
  <link rel="alternate" href="https://url-opener.xyz{{ request.path }}" hreflang="en-us" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="google-site-verification" content="OzZ-EPgcQL4-2vD1kaAlhmcwQSkIWhGKcAQyVknQLOA" />

  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet">
  <link href="/static/css/style.css?v=1.0" rel="stylesheet" media="screen" />

  <link rel="shortcut icon" href="" type="image/x-icon" />
  <link rel="icon" href="" type="image/x-icon" />
  <link rel="apple-touch-icon" href="" />
  <link rel="apple-touch-icon" sizes="72x72" href="" />
  <link rel="apple-touch-icon" sizes="114x114" href="" />

