  <nav role="navigation">
    <div class="nav-wrapper container">
      <a href="{{ url_for('index') }}" title="Link Open in Tabs" id="logo-container" class="brand-logo">URL Tab Opener</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('index') }}" title="Home Page">Home</a></li>
        <li><a href="{{ url_for('about') }}" title="About">About</a></li>
        <li><a href="{{ url_for('feedback') }}" title="Feedback">Feedback</a></li>
      </ul>
    </div>
  </nav>
